{% comment %}
  This snippet handles all SVG icons on a theme.
  Settings:
  * 'icon': this is where you choose what Icon you want to be rendered.
{% endcomment %}

{% case icon %}
  {% when 'facebook' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="11.494"
      height="21.46"
      viewBox="0 0 11.494 21.46"
    >
      <path
      data-name="Icon awesome-facebook-f"
      d="m10.741 12.071.6-3.884H7.61v-2.52a1.942 1.942 0 0 1 2.19-2.1h1.691V.262a20.66 20.66 0 0 0-3-.262C5.418 0 3.412 1.86 3.412 5.227v2.96H0v3.884h3.412v9.389h4.2v-9.389Z"
      fill="#1a2429" />
    </svg>

  {% when 'twitter' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-twitter"
      viewBox="0 0 18 15"
    >
      <path fill="currentColor" d="M17.64 2.6a7.33 7.33 0 01-1.75 1.82c0 .05 0 .13.02.23l.02.23a9.97 9.97 0 01-1.69 5.54c-.57.85-1.24 1.62-2.02 2.28a9.09 9.09 0 01-2.82 1.6 10.23 10.23 0 01-8.9-.98c.34.02.61.04.83.04 1.64 0 3.1-.5 4.38-1.5a3.6 3.6 0 01-3.3-2.45A2.91 2.91 0 004 9.35a3.47 3.47 0 01-2.02-1.21 3.37 3.37 0 01-.8-2.22v-.03c.46.24.98.37 1.58.4a3.45 3.45 0 01-1.54-2.9c0-.61.14-1.2.45-1.79a9.68 9.68 0 003.2 2.6 10 10 0 004.08 1.07 3 3 0 01-.13-.8c0-.97.34-1.8 1.03-2.48A3.45 3.45 0 0112.4.96a3.49 3.49 0 012.54 1.1c.8-.15 1.54-.44 2.23-.85a3.4 3.4 0 01-1.54 1.94c.74-.1 1.4-.28 2.01-.54z">
    </svg>

  {% when 'tiktok' %}
    <svg
      aria-hidden="true"
      viewBox="0 0 20 15"
      focusable="false"
      role="presentation"
      class="icon icon-tiktok"
      width="16"
      height="18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M8.02 0H11s-.17 3.82 4.13 4.1v2.95s-2.3.14-4.13-1.26l.03 6.1a5.52 5.52 0 11-5.51-5.52h.77V9.4a2.5 2.5 0 101.76 2.4L8.02 0z" fill="currentColor">
    </svg>

  {% when 'youtube' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-youtube"
      viewBox="0 0 100 70"
    >
      <path d="M98 11c2 7.7 2 24 2 24s0 16.3-2 24a12.5 12.5 0 01-9 9c-7.7 2-39 2-39 2s-31.3 0-39-2a12.5 12.5 0 01-9-9c-2-7.7-2-24-2-24s0-16.3 2-24c1.2-4.4 4.6-7.8 9-9 7.7-2 39-2 39-2s31.3 0 39 2c4.4 1.2 7.8 4.6 9 9zM40 50l26-15-26-15v30z" fill="currentColor">
    </svg>

  {% when 'vimeo' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-vimeo"
      viewBox="0 0 100 87"
    >
      <path
        fill-rule="evenodd"
        d="M100 20.4c-.5 9.7-7.3 23-20.4 40C66 78.1 54.5 87 45 87c-5.8 0-10.7-5.4-14.7-16.2l-8.1-29.6C19.2 30.4 16 25 12.6 25c-.8 0-3.4 1.6-7.9 4.7l-4.7-6 14.6-13c6.6-5.8 11.5-8.8 14.8-9C37.2.8 42 6.1 43.8 17.5c2 12.3 3.3 20 4 23 2.3 10.2 4.7 15.3 7.4 15.3 2.1 0 5.3-3.3 9.5-10a39.2 39.2 0 006.7-15c.6-5.8-1.7-8.7-6.7-8.7-2.4 0-4.9.6-7.4 1.7C62.2 7.7 71.6-.1 85.4.4c10.3.3 15.1 7 14.6 20"
        fill="currentColor">
    </svg>

  {% when 'snapchat' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-snapchat"
      viewBox="0 0 392 386"
    >
      <path d="M390.3 282.3a27.2 27.2 0 00-13.8-14.7l-3-1.6-5.4-2.7a117 117 0 01-42.7-36.6 83 83 0 01-7.3-13c-.8-2.4-.8-3.8-.2-5 .6-1 1.4-1.9 2.4-2.5a1073.6 1073.6 0 0117.7-11.7 49.5 49.5 0 0016-17.1 33.6 33.6 0 00-30.8-49.7 44.8 44.8 0 00-11.8 1.6c.1-9 0-18.6-.9-27.9A105 105 0 00257.4 16 122 122 0 00196 .3c-22.5 0-43 5.3-61.3 15.7a104.6 104.6 0 00-53.2 85.4c-.8 9.4-1 19-.8 27.9a44.8 44.8 0 00-12-1.6 33.7 33.7 0 00-30.8 49.7A49.6 49.6 0 0054 194.6l9.1 6 8.3 5.4c1 .7 2 1.6 2.6 2.7.7 1.3.7 2.7-.2 5.3-2 4.5-4.5 8.7-7.3 12.8a116.5 116.5 0 01-41.4 36c-9.5 5-19.3 8.3-23.4 19.5-3.1 8.5-1 18.2 6.9 26.3 2.9 3 6.2 5.6 10 7.6 7.7 4.2 15.9 7.5 24.4 9.8a16 16 0 015 2.2c2.9 2.5 2.4 6.3 6.3 12 2 2.8 4.4 5.3 7.2 7.3 8.1 5.6 17.2 6 26.8 6.3 8.7.3 18.5.7 29.8 4.4 4.7 1.5 9.5 4.5 15.1 8a110 110 0 0062.8 19.6c30.8 0 49.4-11.4 63-19.7a77.9 77.9 0 0114.9-7.9c11.2-3.7 21-4 29.8-4.4 9.6-.4 18.7-.7 26.8-6.3 3.3-2.3 6.2-5.4 8.2-9 2.8-4.7 2.7-8 5.3-10.3 1.4-1 3-1.7 4.6-2.1 8.7-2.3 17-5.6 24.8-9.9A39 39 0 00384 308l.1-.1c7.5-8 9.4-17.4 6.3-25.6zM362.9 297c-16.8 9.2-27.9 8.3-36.5 13.8-7.4 4.8-3 15-8.4 18.6-6.5 4.6-26-.3-51 8-20.6 6.8-33.8 26.5-71 26.5-37.1 0-50-19.6-71-26.6-25-8.2-44.4-3.4-51-8-5.3-3.6-1-13.8-8.3-18.5-8.7-5.6-19.8-4.6-36.5-13.8-10.7-5.9-4.6-9.5-1.1-11.2 60.6-29.4 70.3-74.7 70.7-78 .5-4.1 1.1-7.3-3.4-11.5-4.3-4-23.5-15.8-28.9-19.6-8.8-6.1-12.6-12.3-9.8-19.8 2-5.3 6.9-7.2 12-7.2 1.6 0 3.2.2 4.8.5 9.7 2.1 19.1 7 24.5 8.3l2 .2c3 0 4-1.4 3.8-4.7-.7-10.6-2.2-31.3-.5-50.6a80 80 0 0121-51.3A93.7 93.7 0 01196 22.3c43.8 0 66.8 24.1 71.7 29.7a80 80 0 0121 51.3c1.7 19.3.2 40-.5 50.5-.2 3.5.9 4.8 3.8 4.8.6 0 1.3 0 2-.3 5.4-1.3 14.8-6.1 24.5-8.2a19 19 0 014.8-.5c5.1 0 10 2 12 7.2 2.8 7.5-1 13.7-9.9 19.8-5.3 3.7-24.5 15.6-28.8 19.6-4.5 4.2-4 7.4-3.4 11.4.4 3.5 10 48.8 70.7 78 3.6 1.8 9.6 5.5-1 11.4z" fill="currentColor">
    </svg>

  {% when 'pinterest' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-pinterest"
      viewBox="0 0 17 18"
    >
      <path fill="currentColor" d="M8.48.58a8.42 8.42 0 015.9 2.45 8.42 8.42 0 011.33 10.08 8.28 8.28 0 01-7.23 4.16 8.5 8.5 0 01-2.37-.32c.42-.68.7-1.29.85-1.8l.59-2.29c.14.28.41.52.8.73.4.2.8.31 1.24.31.87 0 1.65-.25 2.34-.75a4.87 4.87 0 001.6-2.05 7.3 7.3 0 00.56-2.93c0-1.3-.5-2.41-1.49-3.36a5.27 5.27 0 00-3.8-1.43c-.93 0-1.8.16-2.58.48A5.23 5.23 0 002.85 8.6c0 .75.14 1.41.43 1.98.28.56.7.96 1.27 1.2.1.04.19.04.26 0 .07-.03.12-.1.15-.2l.18-.68c.05-.15.02-.3-.11-.45a2.35 2.35 0 01-.57-1.63A3.96 3.96 0 018.6 4.8c1.09 0 1.94.3 2.54.89.61.6.92 1.37.92 2.32 0 .8-.11 1.54-.33 2.21a3.97 3.97 0 01-.93 1.62c-.4.4-.87.6-1.4.6-.43 0-.78-.15-1.06-.47-.27-.32-.36-.7-.26-1.13a111.14 111.14 0 01.47-1.6l.18-.73c.06-.26.09-.47.09-.65 0-.36-.1-.66-.28-.89-.2-.23-.47-.35-.83-.35-.45 0-.83.2-1.13.62-.3.41-.46.93-.46 1.56a4.1 4.1 0 00.18 1.15l.06.15c-.6 2.58-.95 4.1-1.08 4.54-.12.55-.16 1.2-.13 1.94a8.4 8.4 0 01-5-7.65c0-2.3.81-4.28 2.44-5.9A8.04 8.04 0 018.48.57z">
    </svg>

  {% when 'instagram' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-instagram"
      viewBox="0 0 18 18"
    >
      <path fill="currentColor" d="M8.77 1.58c2.34 0 2.62.01 3.54.05.86.04 1.32.18 1.63.3.41.17.7.35 1.01.66.3.3.5.6.65 1 .12.32.27.78.3 1.64.05.92.06 1.2.06 3.54s-.01 2.62-.05 3.54a4.79 4.79 0 01-.3 1.63c-.17.41-.35.7-.66 1.01-.3.3-.6.5-1.01.66-.31.12-.77.26-1.63.3-.92.04-1.2.05-3.54.05s-2.62 0-3.55-.05a4.79 4.79 0 01-1.62-.3c-.42-.16-.7-.35-1.01-.66-.31-.3-.5-.6-.66-1a4.87 4.87 0 01-.3-1.64c-.04-.92-.05-1.2-.05-3.54s0-2.62.05-3.54c.04-.86.18-1.32.3-1.63.16-.41.35-.7.66-1.01.3-.3.6-.5 1-.65.32-.12.78-.27 1.63-.3.93-.05 1.2-.06 3.55-.06zm0-1.58C6.39 0 6.09.01 5.15.05c-.93.04-1.57.2-2.13.4-.57.23-1.06.54-1.55 1.02C1 1.96.7 2.45.46 3.02c-.22.56-.37 1.2-.4 2.13C0 6.1 0 6.4 0 8.77s.01 2.68.05 3.61c.04.94.2 1.57.4 2.13.23.58.54 1.07 1.02 1.56.49.48.98.78 1.55 1.01.56.22 1.2.37 2.13.4.94.05 1.24.06 3.62.06 2.39 0 2.68-.01 3.62-.05.93-.04 1.57-.2 2.13-.41a4.27 4.27 0 001.55-1.01c.49-.49.79-.98 1.01-1.56.22-.55.37-1.19.41-2.13.04-.93.05-1.23.05-3.61 0-2.39 0-2.68-.05-3.62a6.47 6.47 0 00-.4-2.13 4.27 4.27 0 00-1.02-1.55A4.35 4.35 0 0014.52.46a6.43 6.43 0 00-2.13-.41A69 69 0 008.77 0z" />
      <path fill="currentColor" d="M8.8 4a4.5 4.5 0 100 9 4.5 4.5 0 000-9zm0 7.43a2.92 2.92 0 110-5.85 2.92 2.92 0 010 5.85zM13.43 5a1.05 1.05 0 100-2.1 1.05 1.05 0 000 2.1z">
    </svg>

  {% when 'linkedin' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-linkedin"
      width="27.787"
      height="27.786"
      viewBox="0 0 27.787 27.786"
    >
      <path
        fill="currentColor"
        d="M6.22,27.786H.459V9.235H6.22ZM3.336,6.7A3.352,3.352,0,1,1,6.673,3.337,3.364,3.364,0,0,1,3.336,6.7ZM27.78,27.786H22.032V18.756c0-2.152-.043-4.912-3-4.912-3,0-3.454,2.338-3.454,4.757v9.186H9.828V9.235h5.525v2.531h.081a6.053,6.053,0,0,1,5.451-3c5.83,0,6.9,3.839,6.9,8.826v10.19Z"
        transform="translate(0 -0.001)" />
    </svg>

  {% when 'tumblr' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-tumblr"
      viewBox="0 0 91 161"
    >
      <path
        fill-rule="evenodd"
        d="M64 160.3c-24 0-42-12.3-42-41.8V71.3H.3V45.7c24-6.2 34-26.9 35.2-44.7h24.9v40.5h29v29.8h-29v41.1c0 12.3 6.2 16.6 16.1 16.6h14v31.3H64"
        fill="currentColor">
    </svg>

  {% when 'burger' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="burger"
      width="23.118"
      height="20"
      viewBox="0 0 23.118 20"
    >
      <g
        id="Icon_feather-menu"
        data-name="Icon feather-menu"
        transform="translate(1 1)">
        <path
          id="Path_6"
          data-name="Path 6"
          d="M4.5,18H25.618"
          transform="translate(-4.5 -9)"
          fill="none"
          stroke="#10573b"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2" />
        <path
          id="Path_7"
          data-name="Path 7"
          d="M4.5,9H25.618"
          transform="translate(-4.5 -9)"
          fill="none"
          stroke="#10573b"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2" />
        <path
          id="Path_8"
          data-name="Path 8"
          d="M4.5,27H25.618"
          transform="translate(-4.5 -9)"
          fill="none"
          stroke="#10573b"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2" />
      </g>
    </svg>

  {% when 'package' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="19.2"
      height="22"
      viewBox="0 0 19.2 22"
    >
      <path
        fill="currentColor"
        data-name="Path 2064"
        d="M18.514 22H.686a1 1 0 0 1-.549-.3.986.986 0 0 1-.137-.609L2.743 5.939c0-.3.411-.606.686-.606h12.342c.274 0 .549.3.686.606L19.2 21.091a.986.986 0 0 1-.137.606 1 1 0 0 1-.549.303ZM1.509 20.485h16.183L15.223 6.848H3.977L1.509 20.485Z" /><path data-name="Path 2065" d="M14.325 8.333a.6.6 0 0 1-.675-.6c0-.119 0-6.548-4.05-6.548S5.55 7.619 5.55 7.738a.6.6 0 0 1-.675.6.6.6 0 0 1-.675-.6C4.2 7.381 4.2 0 9.6 0S15 7.381 15 7.738a.6.6 0 0 1-.675.595Z" />
    </svg>

  {% when 'zoom' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-plus"
      width="19"
      height="19"
      viewBox="0 0 19 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4.66724 7.93978C4.66655 7.66364 4.88984 7.43922 5.16598 7.43853L10.6996 7.42464C10.9758 7.42395 11.2002 7.64724 11.2009 7.92339C11.2016 8.19953 10.9783 8.42395 10.7021 8.42464L5.16849 8.43852C4.89235 8.43922 4.66793 8.21592 4.66724 7.93978Z"
        fill="currentColor" />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.92576 4.66463C8.2019 4.66394 8.42632 4.88723 8.42702 5.16337L8.4409 10.697C8.44159 10.9732 8.2183 11.1976 7.94215 11.1983C7.66601 11.199 7.44159 10.9757 7.4409 10.6995L7.42702 5.16588C7.42633 4.88974 7.64962 4.66532 7.92576 4.66463Z"
        fill="currentColor" />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.8324 3.03011C10.1255 0.323296 5.73693 0.323296 3.03011 3.03011C0.323296 5.73693 0.323296 10.1256 3.03011 12.8324C5.73693 15.5392 10.1255 15.5392 12.8324 12.8324C15.5392 10.1256 15.5392 5.73693 12.8324 3.03011ZM2.32301 2.32301C5.42035 -0.774336 10.4421 -0.774336 13.5395 2.32301C16.6101 5.39361 16.6366 10.3556 13.619 13.4588L18.2473 18.0871C18.4426 18.2824 18.4426 18.599 18.2473 18.7943C18.0521 18.9895 17.7355 18.9895 17.5402 18.7943L12.8778 14.1318C9.76383 16.6223 5.20839 16.4249 2.32301 13.5395C-0.774335 10.4421 -0.774335 5.42035 2.32301 2.32301Z"
        fill="currentColor" />
    </svg>

  {% when 'unavailable' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-unavailable"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        fill="#DE3618"
        stroke="#fff"
        d="M13.94 3.94L10 7.878l-3.94-3.94A1.499 1.499 0 103.94 6.06L7.88 10l-3.94 3.94a1.499 1.499 0 102.12 2.12L10 12.12l3.94 3.94a1.497 1.497 0 002.12 0 1.499 1.499 0 000-2.12L12.122 10l3.94-3.94a1.499 1.499 0 10-2.121-2.12z" />
    </svg>

  {% when 'tick' %}
    <svg
      class="icon icon-tick"
      aria-hidden="true"
      focusable="false"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20"
    >
      <path
        fill="#108043"
        stroke="#fff"
        d="M16.136 6.979h0l.003-.004a1.499 1.499 0 00-2.275-1.954l-5.945 6.777-1.858-1.859A1.499 1.499 0 103.94 12.06l2.999 3s0 0 0 0c.289.29.675.44 1.1.439h.019a1.5 1.5 0 001.08-.522l6.998-7.998z" />
    </svg>

  {% when 'success' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-success"
      viewBox="0 0 13 13"
    >
      <path
        d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z"
        fill="#428445"
        stroke="white"
        stroke-width="0.7" />
      <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white" />
      <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white">
    </svg>

  {% when 'check' %}
    <svg class="check" viewBox="0 0 448 512">
      <path d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
    </svg>

  {% when 'xmark' %}
    <svg class="xmark" viewBox="0 0 320 512">
      <path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z" />
    </svg>

  {% when 'share' %}
    <svg
      width="13"
      height="12"
      viewBox="0 0 13 12"
      class="icon icon-share"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
    >
      <path
        d="M1.625 8.125V10.2917C1.625 10.579 1.73914 10.8545 1.9423 11.0577C2.14547 11.2609 2.42102 11.375 2.70833 11.375H10.2917C10.579 11.375 10.8545 11.2609 11.0577 11.0577C11.2609 10.8545 11.375 10.579 11.375 10.2917V8.125"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round" />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.14775 1.27137C6.34301 1.0761 6.65959 1.0761 6.85485 1.27137L9.56319 3.9797C9.75845 4.17496 9.75845 4.49154 9.56319 4.6868C9.36793 4.88207 9.05135 4.88207 8.85609 4.6868L6.5013 2.33203L4.14652 4.6868C3.95126 4.88207 3.63468 4.88207 3.43942 4.6868C3.24415 4.49154 3.24415 4.17496 3.43942 3.9797L6.14775 1.27137Z"
        fill="currentColor" />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.5 1.125C6.77614 1.125 7 1.34886 7 1.625V8.125C7 8.40114 6.77614 8.625 6.5 8.625C6.22386 8.625 6 8.40114 6 8.125V1.625C6 1.34886 6.22386 1.125 6.5 1.125Z"
        fill="currentColor" />
    </svg>

  {% when 'remove' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 16 16"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-remove"
    >
      <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor" />
      <path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor" />
    </svg>

  {% when 'plus' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-plus"
      fill="none"
      viewBox="0 0 10 10"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z"
        fill="currentColor">
    </svg>

  {% when 'play' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-play"
      fill="none"
      viewBox="0 0 10 14"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z"
        fill="currentColor" />
    </svg>

  {% when 'pause' %}
    <svg
      class="icon icon-pause"
      viewBox="0 0 8 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      focusable="false"
      aria-hidden="true"
    >
      <path d="M1.2 0.75C0.813401 0.75 0.5 0.985051 0.5 1.275V10.725C0.5 11.0149 0.813401 11.25 1.2 11.25C1.5866 11.25 1.9 11.0149 1.9 10.725V1.275C1.9 0.985051 1.5866 0.75 1.2 0.75Z" fill="currentColor" />
      <path d="M6.8 0.75C6.4134 0.75 6.1 0.985051 6.1 1.275V10.725C6.1 11.0149 6.4134 11.25 6.8 11.25C7.1866 11.25 7.5 11.0149 7.5 10.725V1.275C7.5 0.985051 7.1866 0.75 6.8 0.75Z" fill="currentColor" />
    </svg>

  {% when 'padlock' %}
    <svg
      aria-hidden="true"
      focusable="false"
      class="icon icon-padlock"
      role="presentation"
      viewBox="0 0 16 21"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        d="M5.03 1.79A3.73 3.73 0 018 .5c1.28 0 2.28.48 2.97 1.29.67.8 1 1.87 1.03 3V7.5h3c.28 0 .5.22.5.5v12a.5.5 0 01-.5.5H1a.5.5 0 01-.5-.5V8c0-.28.22-.5.5-.5h3V4.8c0-1.1.36-2.15 1.03-3.01zM11 6.4v1.09H5V4.82c.03-.99.31-1.82.8-2.4A2.75 2.75 0 018 1.49c1.01 0 1.73.37 2.2.93.49.58.77 1.41.8 2.4V6.4zM1.5 8.49v11h13v-11h-13zm6.51 2.5a1.5 1.5 0 00-.7 2.82v2.5a.68.68 0 001.36 0v-2.47A1.5 1.5 0 008 11l.01-.01z"
        clip-rule="evenodd"
        fill="currentColor" />
    </svg>

  {% when 'minus' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-minus"
      fill="none"
      viewBox="0 0 10 2"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z"
        fill="currentColor">
    </svg>

  {% when 'hamburger' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-hamburger"
      fill="none"
      viewBox="0 0 18 16"
    >
      <path d="M1 .5a.5.5 0 100 1h15.71a.5.5 0 000-1H1zM.5 8a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1A.5.5 0 01.5 8zm0 7a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1a.5.5 0 01-.5-.5z" fill="currentColor">
    </svg>

  {% when 'filter' %}
    <svg
      class="icon icon-filter"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        d="M4.833 6.5a1.667 1.667 0 1 1 3.334 0 1.667 1.667 0 0 1-3.334 0ZM4.05 7H2.5a.5.5 0 0 1 0-1h1.55a2.5 2.5 0 0 1 4.9 0h8.55a.5.5 0 0 1 0 1H8.95a2.5 2.5 0 0 1-4.9 0Zm11.117 6.5a1.667 1.667 0 1 0-3.334 0 1.667 1.667 0 0 0 3.334 0ZM13.5 11a2.5 2.5 0 0 1 2.45 2h1.55a.5.5 0 0 1 0 1h-1.55a2.5 2.5 0 0 1-4.9 0H2.5a.5.5 0 0 1 0-1h8.55a2.5 2.5 0 0 1 2.45-2Z"
        fill="currentColor" />
    </svg>

  {% when 'error' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-error"
      viewBox="0 0 13 13"
    >
      <circle
        cx="6.5"
        cy="6.50049"
        r="5.5"
        stroke="white"
        stroke-width="2" />
      <circle
        cx="6.5"
        cy="6.5"
        r="5.5"
        fill="#EB001B"
        stroke="#EB001B"
        stroke-width="0.7" />
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white" />
      <path
        d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z"
        fill="white"
        stroke="#EB001B"
        stroke-width="0.7">
    </svg>

  {% when 'discount' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-discount color-foreground-{{ settings.accent_icons }}"
      viewBox="0 0 12 12"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z"
        fill="currentColor">
    </svg>

  {% when 'close' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="10"
      height="10"
      viewBox="0 0 10 10"
    >
      <path
        id="Icon_metro-cross"
        data-name="Icon metro-cross"
        d="M12.48,9.962h0L9.446,6.928l3.034-3.034h0a.313.313,0,0,0,0-.442L11.046,2.019a.313.313,0,0,0-.442,0h0L7.571,5.053,4.537,2.019h0a.313.313,0,0,0-.442,0L2.662,3.452a.313.313,0,0,0,0,.442h0L5.7,6.928,2.662,9.962h0a.313.313,0,0,0,0,.442L4.1,11.837a.313.313,0,0,0,.442,0h0L7.571,8.8,10.6,11.837h0a.313.313,0,0,0,.442,0L12.479,10.4a.313.313,0,0,0,0-.442Z"
        transform="translate(-2.571 -1.928)"
        fill="#fff" />
    </svg>

    {% when 'close_gb' %}
      <svg 
        class="remove_filter"
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        fill="#000000" 
        height="14px" 
        width="14px" 
        version="1.1" 
        id="Layer_1" 
        viewBox="0 0 512 512" 
        xml:space="preserve">
      <g>
        <g>
          <polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 512,452.922 315.076,256   "/>
        </g>
      </g>
      </svg>

  {% when 'close-small' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      width="12"
      height="13"
      class="icon icon-close-small"
      viewBox="0 0 12 13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8.48627 9.32917L2.82849 3.67098"
        stroke="#333030"
        stroke-linecap="round"
        stroke-linejoin="round" />
      <path
        d="M2.88539 9.38504L8.42932 3.61524"
        stroke="#333030"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>

  {% when 'close-md' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
    >
      <g
        fill="none"
        stroke="#000"
        stroke-linejoin="round"
        stroke-width="1.5"><path d="m.53.53 22.933 22.933" data-name="Path 7" /><path d="M23.566.531.634 23.463" data-name="Path 1922" /></g>
    </svg>

  {% when 'clipboard' %}
    <svg
      class="icon icon-clipboard"
      width="11"
      height="13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      viewBox="0 0 11 13"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M2 1a1 1 0 011-1h7a1 1 0 011 1v9a1 1 0 01-1 1V1H2zM1 2a1 1 0 00-1 1v9a1 1 0 001 1h7a1 1 0 001-1V3a1 1 0 00-1-1H1zm0 10V3h7v9H1z"
        fill="currentColor" />
    </svg>

  {% when 'checkmark' %}
    <svg
      class="icon icon-checkmark color-foreground-{{ settings.accent_icons }}"
      aria-hidden="true"
      focusable="false"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 12 9"
      fill="none"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z"
        fill="currentColor" />
    </svg>

  {% when 'cart' %}
    <svg
      class="icon icon-cart"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 40 40"
      fill="none"
    >
      <path
        fill="currentColor"
        fill-rule="evenodd"
        d="M20.5 6.5a4.75 4.75 0 00-4.75 4.75v.56h-3.16l-.77 11.6a5 5 0 004.99 5.34h7.38a5 5 0 004.99-5.33l-.77-11.6h-3.16v-.57A4.75 4.75 0 0020.5 6.5zm3.75 5.31v-.56a3.75 3.75 0 10-7.5 0v.56h7.5zm-7.5 1h7.5v.56a3.75 3.75 0 11-7.5 0v-.56zm-1 0v.56a4.75 4.75 0 109.5 0v-.56h2.22l.71 10.67a4 4 0 01-3.99 4.27h-7.38a4 4 0 01-4-4.27l.72-10.67h2.22z" />
    </svg>

  {% when 'cart-empty' %}
    <svg
      class="icon icon-cart-empty"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 40 40"
      fill="none"
    >
      <path
        d="m15.75 11.8h-3.16l-.77 11.6a5 5 0 0 0 4.99 5.34h7.38a5 5 0 0 0 4.99-5.33l-.78-11.61zm0 1h-2.22l-.71 10.67a4 4 0 0 0 3.99 4.27h7.38a4 4 0 0 0 4-4.27l-.72-10.67h-2.22v.63a4.75 4.75 0 1 1 -9.5 0zm8.5 0h-7.5v.63a3.75 3.75 0 1 0 7.5 0z"
        fill="currentColor"
        fill-rule="evenodd" />
    </svg>

  {% when 'caret' %}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-caret"
      viewBox="0 0 10 6"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
        fill="currentColor">
    </svg>

  {% when 'arrow' %}
    <svg
      viewBox="0 0 14 10"
      fill="none"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-arrow"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
        fill="currentColor">
    </svg>

  {% when 'account' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20.357"
      height="23.5"
      viewBox="0 0 20.357 23.5"
    >
      <path
        d="M10.179 10.179c5.186 0 9.429 5.657 9.429 12.571H.75c0-6.914 4.243-12.571 9.429-12.571Zm0-9.429a4.63 4.63 0 0 1 4.714 4.714 4.63 4.63 0 0 1-4.714 4.715 4.63 4.63 0 0 1-4.715-4.715A4.63 4.63 0 0 1 10.179.75Z"
        fill="none"
        stroke="#000"
        stroke-linejoin="round"
        stroke-width="1.5" />
    </svg>

  {% when '3d-model' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      focusable="false"
      role="presentation"
      class="icon icon-3d-model"
      fill="none"
      viewBox="0 0 18 21"
    >
      <path d="M7.67998 20.629L1.28002 16.723C0.886205 16.4784 0.561675 16.1368 0.337572 15.731C0.113468 15.3251 -0.00274623 14.8686 -1.39464e-05 14.405V6.59497C-0.00238367 6.13167 0.113819 5.6755 0.33751 5.26978C0.561202 4.86405 0.884959 4.52227 1.278 4.27698L7.67796 0.377014C8.07524 0.131403 8.53292 0.000877102 8.99999 9.73346e-08C9.46678 -0.000129605 9.92446 0.129369 10.322 0.374024V0.374024L16.722 4.27399C17.1163 4.51985 17.4409 4.86287 17.6647 5.27014C17.8885 5.67742 18.0039 6.13529 18 6.59998V14.409C18.0026 14.8725 17.8864 15.3289 17.6625 15.7347C17.4386 16.1405 17.1145 16.4821 16.721 16.727L10.321 20.633C9.92264 20.8742 9.46565 21.0012 8.99999 21C8.53428 20.9998 8.07761 20.8714 7.67998 20.629V20.629ZM8.72398 2.078L2.32396 5.97803C2.22303 6.04453 2.14066 6.13551 2.08452 6.24255C2.02838 6.34959 2.00031 6.46919 2.00298 6.59003V14.4C2.00026 14.5205 2.02818 14.6396 2.08415 14.7463C2.14013 14.853 2.22233 14.9438 2.32298 15.01L7.99999 18.48V10.919C8.00113 10.5997 8.08851 10.2867 8.25292 10.0129C8.41732 9.73922 8.65267 9.51501 8.93401 9.36401L15.446 5.841L9.28001 2.08002C9.19614 2.02738 9.09901 1.99962 8.99999 2C8.90251 1.99972 8.8069 2.02674 8.72398 2.078V2.078Z" fill="currentColor" />
    </svg>

    {% comment %}        Custom Greenr Icons        {% endcomment %}

  {% when 'arrow-left' %}
    <svg
      id="svg-leftLongArrow"
      xmlns="http://www.w3.org/2000/svg"
      width="315"
      height="350"
      style="left: 27.8px;"
    >
      <path d="M1174 0 1328 -154 694 -786H3424V-1006H694L1328 -1640L1174 -1792L278 -896Z" transform="translate(-27.8 281.6) scale(0.1)"></path>
    </svg>

  {% when 'arrow-right' %}
    <svg
      viewBox="-0.204 102.038 315.319 180.044"
      style="left: 35.2px;"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M2602 0 3498 -896 2602 -1792 2448 -1640 3082 -1006H352V-786H3082L2448 -154Z" transform="matrix(0.1, 0, 0, 0.1, -35.200001, 281.600006)" />
    </svg>

  {% when 'arrow-left-short' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32.936"
      height="53.336"
      viewBox="0 0 32.936 53.336"
    >
      <path
        id="Icon_material-keyboard-arrow-left"
        data-name="Icon material-keyboard-arrow-left"
        d="M44.935,55.319l-20.357-20.4,20.357-20.4L38.668,8.25,12,34.918,38.668,61.586Z"
        transform="translate(-12 -8.25)" />
    </svg>

  {% when 'arrow-right-short' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32.936"
      height="53.336"
      viewBox="0 0 32.936 53.336"
    >
      <path
        id="Icon_material-keyboard-arrow-right"
        data-name="Icon material-keyboard-arrow-right"
        d="M12.885,55.694l20.357-20.4-20.357-20.4,6.267-6.267L45.82,35.293,19.152,61.961Z"
        transform="translate(-12.885 -8.625)" />
    </svg>

  {% when 'search' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="17.689"
      height="22"
      viewBox="0 0 17.689 22"
    >
      <path fill="currentColor" d="m16.5 22-6.243-7.73a6.032 6.032 0 0 1-2.824.595A7.36 7.36 0 0 1 0 7.432 7.36 7.36 0 0 1 7.432 0a7.36 7.36 0 0 1 7.432 7.432 7.737 7.737 0 0 1-3.27 6.243l6.095 7.432L16.5 22ZM7.432 1.486a5.946 5.946 0 1 0 5.946 5.946 5.963 5.963 0 0 0-5.946-5.946Z" />
    </svg>

  {% when 'heart-empty' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="22.147"
      height="22"
      viewBox="0 0 22.147 22"
    >
      <path fill="currentColor" d="M11.073 22a1.112 1.112 0 0 1-.587-.293l-8.506-9.24a7.644 7.644 0 0 1 0-10.267A6.266 6.266 0 0 1 6.82 0a6.39 6.39 0 0 1 4.253 1.613A6.39 6.39 0 0 1 15.327 0a6.489 6.489 0 0 1 4.84 2.2 7.644 7.644 0 0 1 0 10.267l-8.507 9.24a1.112 1.112 0 0 1-.587.293ZM6.82 1.467A4.767 4.767 0 0 0 3.15 3.08a6.443 6.443 0 0 0 0 8.36l7.92 8.8 7.92-8.653a6.443 6.443 0 0 0 0-8.36 5.251 5.251 0 0 0-3.667-1.613 4.767 4.767 0 0 0-3.663 1.613.709.709 0 0 1-1.027 0 4.938 4.938 0 0 0-3.813-1.76Z" />
    </svg>

  {% when 'heart-full' %}
    <svg
      class="heart-full"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
    </svg>

  {% when 'shopping-basket' %}
    <svg
      width="24.1"
      height="22.762"
      viewBox="0 0 24.1 22.762"
    >
      <path
        d="M4.918,11.118h6.7l2.426,2.426a3.214,3.214,0,0,0,5.485-2.271c0-.052-.013-.1-.015-.155H27.41a.8.8,0,0,1,.8.8v3.213H4.113V11.922a.8.8,0,0,1,.8-.8Zm10.217,1.338L8.367,5.688a.8.8,0,0,1,0-1.137L9.6,3.319a.808.808,0,0,1,1.138,0l6.768,6.77a1.674,1.674,0,0,1-2.367,2.367Zm9.3,12.414a1.345,1.345,0,0,1-1.241.976H9.134a1.345,1.345,0,0,1-1.241-.976l-2.039-8.4H26.473Z"
        transform="translate(-4.113 -3.085)"
        fill="#10573c" />
    </svg>

  {% when 'user' %}
    <svg
      width="23"
      height="23"
      viewBox="0 0 23 23"
    >
      <path
        fill="currentColor"
        d="M11.5,12.938A6.469,6.469,0,1,0,5.031,6.469,6.47,6.47,0,0,0,11.5,12.938Zm5.75,1.438H14.775a7.82,7.82,0,0,1-6.55,0H5.75A5.75,5.75,0,0,0,0,20.125v.719A2.157,2.157,0,0,0,2.156,23H20.844A2.157,2.157,0,0,0,23,20.844v-.719A5.75,5.75,0,0,0,17.25,14.375Z"
        fill="#10573c" />
    </svg>

  {% when 'edit' %}
    <svg viewBox="0 0 512 512">
      <path d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z" />
    </svg>

  {% when 'chevron' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="15.403"
      height="8.806"
      viewBox="0 0 15.403 8.806"
    >
      <path
        id="Icon_ionic-ios-arrow-back"
        data-name="Icon ionic-ios-arrow-back"
        d="M6.152,7.7.323,1.876A1.1,1.1,0,0,1,1.882.322l6.6,6.6a1.1,1.1,0,0,1,.032,1.518L1.887,15.082A1.1,1.1,0,0,1,.328,13.528Z"
        transform="translate(15.403) rotate(90)" />
    </svg>

  {% when 'chevron-down' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="6.576"
      viewBox="0 0 12 6.576"
    >
      <path
        fill="currentColor"
        d="M0 .5A.5.5 0 0 1 .143.148.486.486 0 0 1 .49 0a.478.478 0 0 1 .343.146L6 5.379 11.165.146A.487.487 0 0 1 11.514 0a.481.481 0 0 1 .343.146A.5.5 0 0 1 12 .5a.506.506 0 0 1-.143.355L6.349 6.431a.485.485 0 0 1-.669.02L.142.851A.5.5 0 0 1 0 .5Z"
        fill="#343434" />
    </svg>

  {% when 'mag_glass' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30.992"
      height="31"
      viewBox="0 0 30.992 31"
    >
      <path
        id="Icon_ionic-ios-search"
        data-name="Icon ionic-ios-search"
        d="M35.129,33.249l-8.62-8.7a12.284,12.284,0,1,0-1.864,1.889l8.563,8.644a1.326,1.326,0,0,0,1.872.048A1.335,1.335,0,0,0,35.129,33.249ZM16.856,26.542a9.7,9.7,0,1,1,6.86-2.841A9.64,9.64,0,0,1,16.856,26.542Z"
        transform="translate(-4.5 -4.493)"
        fill="#fff" />
    </svg>

  {% when 'map-marker' %}
    <svg
      width="15.624"
      height="20.831"
      viewBox="0 0 15.624 20.831"
    >
      <path data-name="Icon-map-marker" d="M7.009,20.411C1.1,11.841,0,10.961,0,7.812a7.812,7.812,0,0,1,15.624,0c0,3.15-1.1,4.029-7.009,12.6a.977.977,0,0,1-1.606,0Z" />
    </svg>

  {% when 'phone' %}
    <svg
      width="21.329"
      height="21.356"
      viewBox="0 0 21.329 21.356"
    >
      <path
        data-name="Icon social-call"
        d="M3.312,7.137a1.571,1.571,0,0,1,.4-.853l3.2-3.2q.374-.32.56.107l2.587,4.853a.7.7,0,0,1-.133.827L8.752,10.044a1.327,1.327,0,0,0-.373.827,4.071,4.071,0,0,0,.827,2.053,17.534,17.534,0,0,0,1.627,2.134l.827.852c.249.249.568.556.961.92a16.1,16.1,0,0,0,1.932,1.44,4.325,4.325,0,0,0,2.12.893,1.161,1.161,0,0,0,.853-.347l1.387-1.387a.586.586,0,0,1,.8-.107l4.667,2.747a.39.39,0,0,1,.213.28.341.341,0,0,1-.107.307l-3.2,3.2a1.567,1.567,0,0,1-.852.4,6.451,6.451,0,0,1-2.947-.36,13.335,13.335,0,0,1-3.039-1.453q-1.4-.906-2.6-1.839T9.927,19l-.693-.667q-.266-.266-.707-.733T6.992,15.763A26.78,26.78,0,0,1,5.1,13.084,15.633,15.633,0,0,1,3.712,10.11,6.325,6.325,0,0,1,3.312,7.137Z"
        transform="translate(-3.267 -2.947)" />
    </svg>

  {% when 'email' %}
    <svg
      width="21.329"
      height="17.063"
      viewBox="0 0 21.329 17.063"
    >
      <path
        data-name="Icon-email"
        d="M22.2,6H5.133A2.13,2.13,0,0,0,3.011,8.133L3,20.93a2.139,2.139,0,0,0,2.133,2.133H22.2a2.139,2.139,0,0,0,2.133-2.133V8.133A2.139,2.139,0,0,0,22.2,6Zm0,4.266L13.665,15.6,5.133,10.266V8.133l8.532,5.332L22.2,8.133Z"
        transform="translate(-3 -6)" />
    </svg>

  {% when 'eye' %}
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      width="768"
      height="768"
      viewBox="0 0 768 768"
    >
      <path fill="#000" d="M3.392 369.696c-4.352 8.768-4.672 19.296 0 28.608 0 0 12.672 25.248 35.84 58.976 14.432 20.992 33.216 45.824 56.224 70.976 28.608 31.328 64.128 63.584 106.208 89.6 51.040 31.552 112.192 54.144 182.336 54.144s131.296-22.592 182.336-54.144c42.080-26.016 77.6-58.272 106.208-89.6 22.976-25.152 41.792-49.984 56.224-70.976 23.168-33.728 35.84-58.976 35.84-58.976 4.352-8.768 4.672-19.296 0-28.608 0 0-12.672-25.248-35.84-58.976-14.432-20.992-33.216-45.824-56.224-70.976-28.608-31.328-64.128-63.584-106.208-89.6-51.040-31.552-112.192-54.144-182.336-54.144s-131.296 22.592-182.336 54.144c-42.080 26.016-77.6 58.272-106.208 89.6-23.008 25.152-41.792 49.952-56.224 70.976-23.168 33.728-35.84 58.976-35.84 58.976zM68.48 384c5.216-8.992 13.024-21.792 23.488-37.056 13.12-19.072 30.080-41.472 50.72-64.032 25.76-28.192 56.8-56.192 92.608-78.336 43.2-26.688 92.832-44.576 148.704-44.576s105.504 17.888 148.672 44.576c35.808 22.144 66.848 50.144 92.608 78.336 20.608 22.56 37.6 44.96 50.72 64.032 10.496 15.264 18.304 28.032 23.488 37.056-5.216 8.992-13.024 21.792-23.488 37.056-13.12 19.072-30.080 41.472-50.72 64.032-25.76 28.192-56.8 56.192-92.608 78.336-43.168 26.688-92.8 44.576-148.672 44.576s-105.504-17.888-148.672-44.576c-35.808-22.144-66.848-50.144-92.608-78.336-20.608-22.56-37.6-44.96-50.72-64.032-10.496-15.264-18.304-28.064-23.52-37.056zM512 384c0-35.328-14.368-67.392-37.504-90.496s-55.168-37.504-90.496-37.504-67.392 14.368-90.496 37.504-37.504 55.168-37.504 90.496 14.368 67.392 37.504 90.496 55.168 37.504 90.496 37.504 67.392-14.368 90.496-37.504 37.504-55.168 37.504-90.496zM448 384c0 17.696-7.136 33.632-18.752 45.248s-27.552 18.752-45.248 18.752-33.632-7.136-45.248-18.752-18.752-27.552-18.752-45.248 7.136-33.632 18.752-45.248 27.552-18.752 45.248-18.752 33.632 7.136 45.248 18.752 18.752 27.552 18.752 45.248z"></path>
    </svg>

  {% when 'quick-add' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="19.2" height="22">
      <path d="M9.943 13.606h2.611v.695H9.943v2.606h-.69v-2.606h-2.61v-.695h2.61V11h.69Z" data-name="Path 2075"/><path d="M18.514 22H.686a1 1 0 0 1-.549-.3.986.986 0 0 1-.137-.609L2.743 5.939c0-.3.411-.606.686-.606h12.342c.274 0 .549.3.686.606L19.2 21.091a.986.986 0 0 1-.137.606 1 1 0 0 1-.549.303ZM1.509 20.485h16.183L15.223 6.848H3.977L1.509 20.485Z" data-name="Path 2064"/><path d="M14.325 8.333a.6.6 0 0 1-.675-.6c0-.119 0-6.548-4.05-6.548S5.55 7.619 5.55 7.738a.6.6 0 0 1-.675.6.6.6 0 0 1-.675-.6C4.2 7.381 4.2 0 9.6 0S15 7.381 15 7.738a.6.6 0 0 1-.675.595Z" data-name="Path 2065"/>
    </svg>

  {% when 'menu-close' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16.061"
      height="15.993"
      viewBox="0 0 16.061 15.993"
    >
      <g
        fill="none"
        stroke="currentColor"
        stroke-linejoin="round"
        stroke-width="1.5"><path data-name="Path 7" d="m.53.53 14.933 14.933" /><path data-name="Path 1922" d="M15.53.531.598 15.463" /></g>
    </svg>

  {% when 'menu-open' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="21.118"
      height="17.5"
      viewBox="0 0 21.118 17.5"
    >
      <g
        data-name="Icon feather-menu"
        fill="none"
        stroke="currentColor"
        stroke-linejoin="round"
        stroke-width="1.5"><path data-name="Path 6" d="M0 8.75h21.118" /><path data-name="Path 7" d="M0 .75h21.118" /><path data-name="Path 8" d="M0 16.75h21.118" /></g>
    </svg>

  {% when 'quick-add-cart' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="21.715"
      height="23.609"
      viewBox="0 0 21.715 23.609"
    >
          <g
            id="Group_541"
            data-name="Group 541"
            transform="translate(0.75)">
          <g
            id="Group_31"
            data-name="Group 31"
            transform="translate(0 3.071)">
            <path
              id="Path_1"
              data-name="Path 1"
              d="M7.468,3,4.5,6.958V20.81a1.979,1.979,0,0,0,1.979,1.979H20.331A1.979,1.979,0,0,0,22.31,20.81V6.958L19.341,3Z"
              transform="translate(-4.5 -3)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5" />
            <path
              id="Path_2"
              data-name="Path 2"
              d="M4.5,9H22.31"
              transform="translate(-4.5 -5.042)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5" />
            <path
              id="Path_3"
              data-name="Path 3"
              d="M19.915,15A3.958,3.958,0,1,1,12,15"
              transform="translate(-7.053 -7.085)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5" />
          </g>
          <g
            id="Group_540"
            data-name="Group 540"
            transform="translate(10.713 0)">
          <path
            id="Path_230"
            data-name="Path 230"
            d="M5.126,0A5.126,5.126,0,1,1,0,5.126,5.126,5.126,0,0,1,5.126,0Z"
            fill="#fff" />
          <g
            id="Group_537"
            data-name="Group 537"
            transform="translate(2.235 2.235)">
            <line
              id="Line_83"
              data-name="Line 83"
              y2="5.782"
              transform="translate(2.891)"
              fill="none"
              stroke="#343434"
              stroke-linecap="round"
              stroke-width="1" />
            <line
              id="Line_84"
              data-name="Line 84"
              y2="5.782"
              transform="translate(5.782 2.891) rotate(90)"
              fill="none"
              stroke="#343434"
              stroke-linecap="round"
              stroke-width="1" />
          </g>
        </g>
      </g>
    </svg>
  {% when 'star' %}
    <svg viewBox="0 0 24 24">
      <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
    </svg>
  {% when 'play-circle' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="45.127"
      height="45.127"
      viewBox="0 0 45.127 45.127"
    >
      <path
        id="play-circle"
        data-name="Icon play-circle"
        d="M25.939,3.375A22.564,22.564,0,1,0,48.5,25.939,22.56,22.56,0,0,0,25.939,3.375Zm9.091,22.987-14.883,9a.483.483,0,0,1-.727-.423V16.935a.481.481,0,0,1,.727-.423l14.883,9A.5.5,0,0,1,35.029,26.362Z"
        transform="translate(-3.375 -3.375)"
        fill="#343434" />
    </svg>
  {% when 'touch-app' %}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="48"
      viewBox="0 96 960 960"
      width="48"
    >
      <path d="M465.497 136Q556 136 620.5 199.5 685 263 685 354q0 52-22.5 98T599 530h-34v-50q29-23 44.5-56t15.5-70q0-66-47-112t-113-46q-66 0-113 46t-47 112q0 36.877 15.5 69.938Q336 457 365 480v72q-56-29-88-82t-32-116q0-91 64.5-154.5T465.497 136ZM427 976q-17 0-32-6.5T369 952L163 746l56-58q14-14 31.5-21.5T287 664l78 18V356q0-42 29-71t71-29q42 0 71 29t29 71v172h26q5 0 9 2t9 4l148 72q24 11 35.5 35.5T799 692l-36 218q-5 29-28 47.5T683 976H427Zm-8-60h281l43-249-183-91h-55V356q0-18-11-29t-29-11q-18 0-29 11t-11 29v399l-154-33-23 23 171 171Zm281 0H419h281Z" />
    </svg>
  {% when 'chevron-right' %}
    <svg viewBox="0 0 24 24">
      <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
    </svg>
  {% when 'chevron-left' %}
    <svg viewBox="0 0 24 24">
      <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
    </svg>
  {% when 'animated-check' %}
    <div class="check-circle-outer  {{ icon }}">
      <div class="check-line-long"></div>
      <div class="check-line-short"></div>
      <div class="check-circle"></div>
      <div class="check-circle-mask"></div>
    </div>
  {% when 'animated-spinner' %}
    <div class="spinner-circle-outer {{ icon }}">
      <div class="spinner-circle"></div>
      <div class="spinner-circle-mask"></div>
    </div>
  {% when 'animated-cross' %}
    <div class="cross-circle-outer {{ icon }}">
      <div class="cross-line-left"></div>
      <div class="cross-line-right"></div>
      <div class="cross-circle"></div>
      <div class="cross-circle-mask"></div>
    </div>
{% endcase %}
