{% comment %}
  
  === FUNCTIONALITY ===

  Add section notes from project developer notes. See announcement bar example below.

  Section notes:

  - Title, Intro paragraph (limited to X characters)
  - Text alignment within space (Left/Central/Right)
  - Ability to invert (ie image can be left or right)
  - Ratio of image/text (ie half/half)
  - To add video add video metafield to collection metafields

  Section Author: Dan Hall

{% endcomment %}

{{ 'section-v2-page-header-text-image.min.css' | asset_url | stylesheet_tag }}

{%- liquid
 if section.settings.text_container_width == "25" 
   assign text_width = "text-width-25" 
   assign img_width = "img-width-75" 
 elsif section.settings.text_container_width == "33" 
   assign text_width = "text-width-33" 
   assign img_width = "img-width-67" 
 elsif section.settings.text_container_width == "66" 
   assign text_width = "text-width-66" 
   assign img_width = "img-width-34" 
 elsif section.settings.text_container_width == "75" 
   assign text_width = "text-width-75" 
   assign img_width = "img-width-25" 
 else 
   assign text_width = "" 
   assign img_width = "" 
 endif -%}

<div class="page-width {% if section.settings.text_position == 'right' %}text-right{% endif %}">

  <div class="text-container {{ text_width }}" style="text-align:{{ section.settings.text_alignment }};">

      <h1 class="heading-lg">{{ collection.title }}</h1>

      <div class="text">
          {{ collection.description }}
      </div>

  </div>

  <div class="image-container">
      {%- if collection.metafields.video != blank -%}
        {{ collection.metafields.video | video_tag: class: img_width, autoplay: true, loop: true, muted: true, controls: false }}
      {%- else -%}
        {%- if collection.featured_image != blank -%}
            {{ collection.featured_image | image_url: width: 800, format: "jpg" | image_tag: class: img_width, fetchpriority: 'high', loading: 'eager' }}
        {%- else -%}
          {% if settings.collection_banner_fallback != blank %}
            {{ settings.collection_banner_fallback | image_url: width: 800, format: "jpg" | image_tag: class: img_width, fetchpriority: 'high', loading: 'eager' }}
          {%- else -%}
          {{ 'lifestyle-1' | placeholder_svg_tag }}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
  </div>

</div>


{% schema %}
{
  "name": "Collection header",
  "tag": "section",
  "class": "page-header-text-image",
  "settings": [
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "default": "Lorem <i>ipsum dolor</i> sit amet, <b>consectetur</b> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      "label": "text"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_container_width",
      "label": "Text container width",
      "options": [
        {
          "value": "25",
          "label": "25%"
        },
        {
          "value": "33",
          "label": "33%"
        },
        {
          "value": "50",
          "label": "50%"
        },
        {
          "value": "66",
          "label": "66%"
        },
        {
          "value": "75",
          "label": "75%"
        }
      ],
      "default": "50"
    }
  ],
  "presets": [
    {
      "name": "Collection header"
    }
  ],
  "templates": [
    "collection"
  ]
}
{% endschema %}