{% comment %}
  
  === FUNCTIONALITY ===

  Add section notes from project developer notes. See announcement bar example below.

  Section notes:

  - Title, Intro paragraph (limited to X characters)
  - Text alignment within space (Left/Central/Right)
  - Ability to invert (ie image can be left or right)
  - Ratio of image/text (ie half/half)
  - To add video add video metafield to collection metafields

  Section Author: Dan Hall

{% endcomment %}

{{ 'section-v2-page-header-text-image.min.css' | asset_url | stylesheet_tag }}

{%- liquid -%}
<h1 class="mobile_heading-xl">{{ collection.title }}</h1>
<div class="page-width {% if section.settings.text_position == 'right' %}text-right{% endif %}">



   <div class="image-container" style="filter:brightness({{ section.settings.plp_head_overlay_opacity }});">
    {%- if section.settings.show_default_feature_img == false and section.settings.feature_image != blank -%}
      {{ section.settings.feature_image | image_url: width: 1200, format: "jpg" | image_tag: class: img_width, fetchpriority: 'high', loading: 'eager' }}
  {%- endif -%}
      {%- if collection.metafields.video != blank -%}
        {{ collection.metafields.video | video_tag: class: img_width, autoplay: true, loop: true, muted: true, controls: false }}
      {%- else -%}
        {%- if collection.featured_image != blank and section.settings.show_default_feature_img == true -%}
            {{ collection.featured_image | image_url: width: 1200, format: "jpg" | image_tag: class: img_width, fetchpriority: 'high', loading: 'eager' }}
        {%- else -%}
          {% if settings.collection_banner_fallback != blank %}
            {{ settings.collection_banner_fallback | image_url: width: 800, format: "jpg" | image_tag: class: img_width, fetchpriority: 'high', loading: 'eager' }}
          {%- else -%}
          {% comment %} {{ 'lifestyle-1' | placeholder_svg_tag }} {% endcomment %}
          {%- endif -%}
        {%- endif -%} 
      {%- endif -%} 
  </div>

  <div class="text-container {{ text_width }}" style="text-align:{{ section.settings.text_alignment }};">

      <h1 class="heading-xl">{{ collection.title }}</h1>
      <div class="text">
        
          {{ collection.description }}
      </div>

  </div>

</div>

{% schema %}
{
  "name": "Collection header",
  "tag": "section",
  "class": "page-header-text-image",
  "settings": [
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "paragraph",
      "content": "This will show instead of any images."
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "checkbox",
      "id": "show_default_feature_img",
      "label": "Show Collection Feature Image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "feature_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image (Mobile)",
      "info": "If no image is selected mobile will use desktop image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
          "type": "range",
          "id": "plp_head_overlay_opacity", 
          "min": 0,
          "max": 1,
          "step": 0.1,
          "label": "Image Overlay opacity",
          "default": 0.5
        },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Options"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_container_width",
      "label": "Text container width",
      "options": [
        {
          "value": "25",
          "label": "25%"
        },
        {
          "value": "33",
          "label": "33%"
        },
        {
          "value": "50",
          "label": "50%"
        },
        {
          "value": "66",
          "label": "66%"
        },
        {
          "value": "75",
          "label": "75%"
        }
      ],
      "default": "50"
    }
  ],
  "presets": [
    {
      "name": "Collection header"
    }
  ],
  "templates": [
    "collection"
  ]
}
{% endschema %}